<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/badri</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.cache.region.factory_class">org.hibernate.cache.ehcache.internal.EhcacheRegionFactory</property>
        <property name="hbm2ddl.auto">update</property>
        
<!--         <mapping class="orm.hib.BadriHibernate.session1.Projector"/> -->
<!--         <mapping class="orm.hib.BadriHibernate.session2.Mobile"/> -->
<!--         <mapping class="orm.hib.BadriHibernate.session3.ElectrolRoll"/> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session4.Resource"></mapping> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session5.Item"></mapping> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session6.Person"></mapping> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session6.Vehicle"></mapping> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session7.Project"></mapping>	 -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session7.Development"></mapping> -->
<!-- 		<mapping class="orm.hib.BadriHibernate.session7.Testing"></mapping> -->
		<mapping class="orm.hib.BadriHibernate.session8.Superstars"></mapping>
                
    </session-factory>
</hibernate-configuration>